.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    gap: 20px;
    margin-bottom: 15px;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col,
.col-2,
.col-3 {
    background-color: #669ca1;
    padding: 25px;
    border-color:  white;
}